<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <title></title>
  </head>
  <body>
    <div id="root">
      <div class="green_bar"></div>
      <div class="grey_space"></div>
      <div class="container">
        <div class="left">
          <nav class="top">

          </nav>
          <div class="notifications"></div>
          <nav class="search">
            <div class="icon">
              <i class="fas fa-search"></i>
            </div>
            <div class="bar">
              <input type="text" placeholder="Cerca o inizia una nuova chat">
            </div>
          </nav>
          <div class="contacts">

            <ul class="element">
              <li v-for= "(contact, index) in contacts" @click="selectUser(index)" >
                <img :src="contact.avatar">
                <p> {{ contact.name }} </p>
              </li>
            </ul>

          </div>
        </div>
        <div class="right">
          <nav class="top">

          </nav>
          <div class="center">

            <ul>
              <li v-for="message in otherUser.messages">

                <p v-if="message.status == 'received'" class="white">{{message.text}}</p>
                <p v-else class="green">{{message.text}}</p>
              </li>

            </ul>

          </div>
          <div class="bottom">
            <div class="emoji">
              <i class="far fa-smile"></i>
            </div>
            <input type="text" name="" value="" placeholder="Scrivi il messaggio">
            <div class="microphone">
              <i class="fas fa-microphone"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
